.badge {
  &--absolute {
    position: absolute;
    right: 1rem;
  }
}
.character {
  &__feature {
    width: 32%;
  }
  &__list-group {
    max-height: 50vh;
    overflow: auto;
  }
}
.custom-card {
  &--dark {
    background-color: $dark;
    color: $light;
    border-color: $secondary;
  }
}
