.home {
  background-color: black;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/Star_Wars_Yellow_Logo.svg"),
    url("https://e1.pxfuel.com/desktop-wallpaper/549/675/desktop-wallpaper-star-wars-star-backgrounds-%C2%B7%E2%91%A0-star-background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: 100%, auto;
  background-size: 90%, auto;
  background-position: center, 0% 0%;
  min-height: 100vh;
  &__info {
    padding: 2rem 4rem;
    width: 50%;
    border-radius: 1rem;
    background-color: rgb(255, 232, 31, 0.9);
    color: $black;
    font-size: 1.2rem;
  }
}
.badge {
  &--absolute {
    position: absolute;
    right: 1rem;
  }
}
.character {
  &__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    &-item {
      border-radius: 5px;
    }
    .character__features-item {
      border-top-width: 1px;
    }
    &.isList {
      display: block;
      .character__features-item {
        margin-bottom: 0.5rem;
      }
    }
  }
  &__list-group {
    max-height: 50vh;
    overflow: auto;
  }
}
.custom-card {
  &--dark {
    background-color: $dark;
    color: $light;
    border-color: $secondary;
  }
}

@media only screen and (max-width: 1200px), screen and (max-height: 480px) {
  .home {
    background-position: center 10%, 0% 0%;
    &__info {
      width: 100%;
      padding: 2rem;
    }
  }
}
@media only screen and (max-width: 769px) {
  .character {
    &__features {
      grid-template-columns: 1fr;
    }
  }
}
